@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');
body{
margin:0 ;
padding:0 ;
min-width: 300px;
max-width:1900px ;
height:auto ;
}
/**************************/
/*footer page d'acceuil*/
footer{
background-color:var(--colorbakgroundfooter);
color:var(--colorwhite);
display: flex;
flex-direction: column;
width:auto;
height:auto ;
margin:0 ;
top: -4px;
}


footer h1, .footer_restaurant h1{
font-family:"shrikhand", cursive;
padding-left: 15px;
font-size:var(--font-size1) 
}
/**********************/
/* footer des 4 pages*/

.footer_restaurant{
position:relative;
background-color:var(--colorbakgroundfooter);
color:var(--colorwhite);
display: flex;
flex-direction: column;
width:auto ;
height:100%;
margin:0 ;
top:210px;
}
.footer_items1  li, .footer_items  li {
display: flex;
align-items: center;
height: 30px;
padding-right:10px ;
padding-left: 10px;
}
.fas.fa-utensils {
margin-right: 15px;
}
.fas.fa-hands-helping { 
margin-right: 9px;
}

.footer_items{
padding-left:15px;
}
.footer_items ul{
padding:0;
}
.footer_items a{
padding-left:0;
}


