@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

/*header*/
header{
/* element positionner naturel*/
position: relative;
font-family:"shrikhand", cursive;
}
.header_logo{
padding: 16px 0 0 0 ;
text-align:center ;
box-shadow: 3px 3px 3px 1px  rgb(82, 77, 77);
}
.logo_image{
width: 250px;
height:45px ;
margin-bottom:15px ;
}

/*icon retour a la page acceuil*/
.retour_page{
position:absolute;
display: flex;
justify-content: space-between;
align-items: center;
top:25px;
margin-left:5px ;

}
main{
padding: 0;
}