@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&family=Roboto:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", sans sherif;
  min-width: 992px;
  max-width: 1950px;
}
/*version_desktop*/
/*presentation*
/*container presentation acceuil*/
.container_presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--colorbackgroundheader);
}
.container_presentation__localisation {
  color: var(--colorblack);
  font-size: var(--font-size3);
  height: 60px;
  margin-top: 25px;
}
.localisation__icon {
  margin-right: 10px;
}
.localisation_text {
  font-family: "roboto";
  font-size: 25px;
}

/*index-html  page acceuil-------------------------------------------------*/
/*presentation*/

/*container_reservation*/
.container_reservation {
  width: auto;
  height: auto;
  margin: 0;
  color: var(--colorblack);
  background-color: var(--lightgrey);
  text-align: center;
}
.reservation_menu__decouvrir {
  padding: 15px;
  margin: 0;
  font-family: "roboto";
  font-weight: var(--font-weight);
}
/*container_fonctionnement*/
.container_fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  width: auto;
  height: auto;
  /*margin-right: 5%;*/
}
.fonctionnement__titre_h2 {
  margin-left: 15%;
}
.container_fonctionnement__ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding-bottom: 30px;*/
  padding: 0 0 30px 0;
  width: auto;
  height: auto;
}
.fonctionnement li {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--concrete);
  border-radius: 15px;
  height: 60px;
  min-width: 65%;
  max-width: 600px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: var(--boxshadow);
}
.fonctionnement i {
  display: flex;
  padding: 0;
  margin-left: 25px;
  font-size: 20px;
  color: var(--colorgrey);
}
/*compteur fonctionnement ol pages d'aceuil------*/
.fonctionnement ol {
  counter-reset: section; /*initialise et nomme le compteur*/
}
.fonctionnement .compteur {
  list-style-type: none; /* on incremente le comteur a chaque li*/
  counter-increment: section;
}
.fonctionnement .compteur:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(section); /*affiche compteur*/
  margin-left: -12px; /*distance compteur*/
  color: var(--colorwhite);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--violet);
}

.fonctionnement li:hover {
  background-color: var(--backgroundlihover);
  cursor: var(--cursor);
}
.fonctionnement i:hover {
  color: var(--violet);
}
.fonctionnement i {
  margin-right: 15px;
}
/*container_restaurant----------------------*/
.container_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0;
}
.restaurant__titre_h2 {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: var(--font-weight);
  margin-left: 2%;
}
.container_restaurant__restaurant_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgrey);
  /*padding: 10px;*/
}

/*carte 1-2-3-4 */
/*restaurant*/
.carte {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  height: auto;
  width: auto;
}

.carte a figure {
  background-color: var(--colorwhite);
  padding: 0;
  height: 290px;
  width: 300px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: var(--boxshadow);

}
.nouveau{
  top:45px;
  left:20%;
}

.carte a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  object-position: center bottom;
}
.carte a figcaption {
  height: 70px;
  align-items: stretch;
}
.carte__titre_h3 {
  padding: 10px 0 0 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.carte__choix {
  padding-left: 10px;
  margin: 0;
  margin-top: 10px;
}
.figure{
  margin: 0;
}

.fa-heart::before {
  content: "\f004"; /* code de l icone*/
  font-weight: 400;
  transition: color 1s ease-out;
}
.fa-heart:hover::before {
  font-weight: bold;
  color: var(--colorheart);
  cursor: var(--cursor);
}
/**********************************************************************/
/* menu restaurant des 4 pages---------------------------------------*/
.menu_presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}
.presentation_menu_global {
  width: auto;
  height: auto;
  margin-top: 0px;
  border-radius: 25px 25px 0px 0px;
  background-color: var(--lightgrey);
}
.presentation_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  object-fit: cover;
}
.presentation_img .img1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.presentation_menu {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 15px;
}
.titre_m {
  margin-left: 50px;
  font-size: 28px;
  font-family: "shrikhand", sans sherif;
  color: var(--colorblack);
}
/*heart des 4 pages_style_css*/
.heart_menu {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--colorblack);
  font-size: 25px;
  padding-right: 100px;
}
.far-heart::before {
  content: "\f004"; /* code de l icone*/
  font-weight: 400;
  transition: color 1s ease-out;
}
.far-heart:hover::before {
  font-weight: bold;
  color: var(--colorheart);
  cursor: var(--cursor);
}
.bloc {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-bottom: 25px;
  margin-left: 15px;
}

/*titre entree trait vert*/
.titre_entree_plat_dessert {
  width: 45px;
  font-size: 20px;
  border-bottom: 3px solid var(--lightvert);
  line-height: 50px;
  margin: 15px 15px 20px 50px;
}
.bloc_btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.button,
.button_plat,
.button_dessert {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70px;
  background-color: var(--colorwhitesmoke);
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 3px 3px rgb(163, 159, 159);
  margin-top: 20px;
  height: auto;
  overflow: hidden;
}
.menu_description,
.titre_menu,
.titre_p {
  /*ajout 3 petits points*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.ensemble_menu {
  display: flex;
  font-weight: 900;
  /*margin-right: 0px;*/
 transition: margin-right 1s ;
}
/* hover sur la vignette*/
.ensemble_menu:hover{
  margin-right: 60px;
  cursor: var(--cursor);
  overflow: visible;
  transition: margin-right 1s;
}

.menu_description {
  display: flex;
  flex-direction: column;
  padding: 16px 5px;
}

/*titre_menu*/
.titre_menu {
  font-size: 20px;
  padding: 0;
}
.titre_p {
  font-size: 15px;
  font-weight: normal;
  padding: 5px;
}
.prix {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  padding: 16px 10px 16px 0;
}
.button_cercle_animation {
  position: relative;
  background-color: var(--lightvert);
  margin-right: -60px;
  width: 60px;
  border-radius: 0 15px 15px 0;
}

.button_cercle_animation {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
}
/*ajout d'une class button animation cercle*/
.cercle .fa-check-circle {
  display: flex;
  color: var(--colorwhite);
  font-size: var(--font-size3);
  justify-content: center;
  align-items: center;
}
.btn_bas {
  margin-left: 15px;
  width: 80%;
}
